@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root{
    --blue1:#0000AB;
    --blue2:#00006E;
}

body {
    background: url(../img/bg_uneader.png);
    background-repeat:no-repeat;
    background-size:500px;
    background-attachment:fixed;
    font-family: 'Poppins', sans-serif;
    color: var(--blue1);
}

.logo {
    width: 250px;
    border-radius: 19%;
    box-shadow: 0 0 20px white;
    margin-top: 15px;
}
.profile {
    text-align: center;
}

.interection_list {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.interection_list li {
    margin: 10px 20px;
}

.interection_list li a {
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000AB;
    text-decoration: none;
}


.social {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 15px;
}
.social img{
    width: 50px;
}
h1{
    font-size: 20px;
    text-shadow: 0 0 20px var(--blue2);
    text-align: center;
    margin-bottom: 5px;
}

footer{
    display: block;
    padding: 15px;
}

h2,h3{
    text-align: center;
    margin: 40px
}

.videoapresentacao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.interection_list1 {
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

.interection_list1 li {
    margin: 10px 20px;
}

.interection_list1 li a {
    background-color: var(--blue1);
    color: white;
    padding: 10px;
    display: block;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000AB;
    text-decoration: none;
}

.about span{
    font-size:larger;
    color: var(--blue2);
    padding: 30px;
    -webkit-text-stroke-width: thin;
}

p{
    margin: 0px 10px 30px;
    -webkit-text-stroke-width:inherit;
    text-shadow: 0 0 black;
}
.img-equipe img{
    width: 100%;
}

.estatic{
    position: absolute;
    background: white;
}
.estatic:hover{
    opacity: 0;
}